body{
    background-color: black;
    font-family: 'kida';
  }
  h1{
    text-align: center;
    text-decoration: none;
    font-family: 'kida';
    font-size: 80px;
  }
  h2{
    text-align: center;
    font-size: 30px;
    font-family: 'kida';
  }
  
  a:link, a:visited {
  text-decoration: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    display: inline-block;
    font-family: 'kida';
  }
  #lightgallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0;
    padding: 0;
    line-height: 0;
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
  
  }
   #lightgallery a {
    display: block;
    height: 100%;
    padding: 5px;
   }
   #lightgallery img {
    width: 100%;
    height: auto;
   }
   @media screen and (max-width: 768px) {
    #lightgallery {
     display: grid;
     grid-template-columns: repeat(1, 1fr);
     grid-gap: 0;
     padding: 0;
     line-height: 0;
     margin-bottom: 20px;
    }
    #lightgallery a {
     display: block;
     height: 100%;
     padding: 1px;
    }
    #lightgallery img {
     width: 100%;
     height: 98%;
    }
   }
